
html {
    scroll-behavior: smooth;
}

.site {
    position: relative;
}

.site-main {
    position: relative;
    z-index: 2
}
.main-button-content{
    display: flex;
    align-items: center;
}

.beez-hexagon{
    z-index: 1;
    position: absolute;
    top: 25%;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
}
.beez-hexagon-start{
    justify-self: start;
    object-fit: contain;
}
.beez-hexagon-end{
    justify-self: end;
    object-fit: contain;
}


.beez-fly{
    position: absolute;
    top: 100px;
    right: calc( 50% - 400px);
    z-index: 0;
    &::before {
        content: url(../img/deco-lineas-bee.svg);
        position: absolute;
        top: 0px;
        right: 60px;
    }
}
.beez-even{
    .beez-fly{
        left: calc( 50% - 400px);
        z-index: 0;
        transform: scaleX(-1);
        right: inherit;
    }
}

.site-header {
    position: relative;
    .logo {
        margin: 0.5em 0 0 3em;
        @media (max-width: 401px) {
            width: 133px;
        }
        @media (min-width: 1200px) {
            margin: 0.5em 0 0 4em;
        }
        @media (min-width: 1648px) {
            padding-left: 11em;
        }
    }
    .main-container-header {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 60% 40%;
        justify-items: center;
        align-items: center;
        @media (max-width: 572px) {
            grid-template-columns: 1fr;
            grid-auto-flow: row;
            gap: 4em;
            margin-top: 4em;
        }
        .container-dos-mil-veinte {
            display: grid;
            justify-items: center;
            align-items: center;
            padding: 10px;
            gap: 2em;
            margin-top: 2em;
            padding-left: 2em;
            width: 92%;
            @media (max-width: 429px) {
                padding: 0;
            }
            @media (min-width: 1200px) {
                padding-left: 3em;
                margin-top: 4em;
                width: 97%;
                justify-self: start;
            }
            @media (min-width: 1392px) {
                margin-top: 5em;
            }
            @media (min-width: 1472px) {
                padding-left: 7em;
                margin-top: 8em;
            }
            @media (min-width: 1648px) {
                padding-left: 15em;
            }
            .main-title {

                font-family: $font-family-secondary;
                line-height: 70px;
                font-size: 90px;
                text-align: Center;
                color: $text-primary-color;
                max-width: 550px;
                margin-bottom: 30px;
                
                @media (max-width: 1199px) {
                    font-size: $font-size-title-xx;
                }
                @media (max-width: 944px) {
                    font-size: $font-size-title-md;
                }
                @media (max-width: 429px) {
                    font-size: $font-size-title-xs;
                }
            }
            .description-2020 {
                font-family: $font-family-primary;
                font-weight: 500;
                font-size: $font-size-xs;
                color: $text-primary-color;
                text-align: justify;
                @media (min-width: 1800px) {
                    font-size: $font-size-xx;
                }
            }
        }
        .container-main-img {
            background: url("../img/bg-main-img.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 609.06px;
            height: 609.06px;
            background-position: center;
            position: absolute;
            right: 0;
            top: -5%;
            @media (max-width: 876px) {
                width: 333.8px;
                height: 417.8px;
                top: -7%;
            }
            @media (max-width: 795px) {
                width: 291.8px;
                height: 392.8px;
                top: -8%;
            }
            @media (max-width: 736px) {
                width: 266.8px;
                height: 377.8px;
                top: -8%;
            }
            @media (max-width: 706px) {
                width: 227.8px;
                height: 341.8px;
                top: -9%;
            }
            @media (max-width: 646px) {
                width: 200.8px;
                height: 314.8px;
                top: -9%;
            }
            @media (max-width: 616px) {
                width: 162.8px;
                height: 277.8px;
                top: -9%;
            }
            @media (max-width: 572px) {
                width: 148.8px;
                height: 261.8px;
                top: -7%;
            }
            @media (max-width: 440px) {
                width: 93.8px;
                height: 225.8px;
                top: -8%;
            }
            @media (min-width: 877px) {
                width: 372.8px;
                height: 417.8px;
            }
            @media (min-width: 1040px) {
                width: 422.8px;
                height: 473.8px;
            }
            @media (min-width: 1095px) {
                width: 455.06px;
                height: 500.06px;
            }
            @media (min-width: 1116px) {
                width: 455.06px;
                height: 500.06px;
            }
            @media (min-width: 1150px) {
                width: 475.06px;
                height: 523.06px;
            }
            @media (min-width: 1200px) {
                width: 507.06px;
                height: 551.06px;
            }
            @media (min-width: 1292px) {
                width: 497.06px;
                height: 542.06px;
            }
            @media (min-width: 1392px) {
                width: 550.06px;
                height: 590.06px;
                top: -5%;
            }
            @media (min-width: 1472px) {
                width: 580.06px;
                height: 609.06px;
                top: -4%;
            }
            @media (min-width: 1840px) {
                width: 640.06px;
                height: 626.06px;
                top: -1%;
            }
            .main-img {
                position: absolute;
                right: 0;
                width: 508.8px;
                height: 553.8px;
                @media (max-width: 876px) {
                    width: 266.8px;
                    height: 394.8px;
                }
                @media (max-width: 795px) {
                    width: 234.8px;
                    height: 364.8px;
                }
                @media (max-width: 736px) {
                    width: 208.8px;
                    height: 348.8px;
                }
                @media (max-width: 706px) {
                    width: 180.8px;
                    height: 318.8px;
                }
                @media (max-width: 646px) {
                    width: 154.8px;
                    height: 287.8px;
                }
                @media (max-width: 616px) {
                    width: 126.8px;
                    height: 258.8px;
                }
                @media (max-width: 572px) {
                    width: 114.8px;
                    height: 240.8px;
                }
                @media (max-width: 440px) {
                    width: 72.8px;
                    height: 214.8px;
                }
                @media (min-width: 877px) {
                    width: 304.8px;
                    height: 395.8px;
                }
                @media (min-width: 1040px) {
                    width: 344.8px;
                    height: 444.8px;
                }
                @media (min-width: 1095px) {
                    width: 375.8px;
                    height: 471.8px;
                }
                @media (min-width: 1116px) {
                    width: 375.8px;
                    height: 471.8px;
                }
                @media (min-width: 1150px) {
                    width: 396.8px;
                    height: 492.8px;
                }
                @media (min-width: 1200px) {
                    width: 420.8px;
                    height: 517.8px;
                }
                @media (min-width: 1292px) {
                    width: 414.8px;
                    height: 513.8px;
                }
                @media (min-width: 1392px) {
                    width: 461.8px;
                    height: 558.8px;
                }
                @media (min-width: 1472px) {
                    width: 478.8px;
                    height: 570.8px;
                }
                @media (min-width: 1840px) {
                    width: 525.8px;
                    height: 587.8px;
                }
            }
        }
    }

}

.vectores-de-anclaje {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.bg-panal-purple {
    background: url("../img/bg-purple-black.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: $text-secondary-color;
    font-size: $font-size-md;
    font-weight: 800;
    display: grid;
    justify-content: center;
    align-content: center;
    width: 50px;
    height: 50px;
    margin: 0 3px;
    &:hover {
        transform: scale(1.1);
    }
    @media (max-width: 499px) {
        width: 40px;
        height: 40px;
        font-size: $font-size-xs;
    }
    @media (max-width: 379px) {
        width: 30px;
        height: 30px;
    }
    @media (min-width: 1200px) {
        width: 55px;
    }
}

.menu-fixed {
    position: fixed;
    background: #fefcf4;
    width: 100%;
    z-index: 100;
    top: 0;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    padding: 1em;
    opacity: 0;
    transition: all 0.5s;
    border-top: 3px solid #FFDD00;
    border-bottom: 3px solid #FFDD00;
    justify-content: space-between;
    .logo-fixed {
        width: 132px;
        margin-left: 2em;
        justify-self: left;
        @media (max-width: 851px) {
            width: 100px;
        }
        @media (max-width: 390px) {
            margin-left: 0.5em;
        }
        @media (max-width: 353px) {
            width: 77px;
            height: 77px;
            height: auto;
        }
    }
    .nav-title {
        display: flex;
        justify-content: center;
        align-items: center;
        .title-fixed {
            font-family: Mont;
            font-size: $font-size-title-xs;
            font-style: normal;
            font-weight: 800;
            line-height: 40px;
            letter-spacing: 0;
            text-align: center;
            @media (max-width: 918px) {
                font-size: $font-size-title-xxs;
            }
            @media (max-width: 851px) {
                font-size: $font-size-xx;
            }
            @media (max-width: 694px) {
                display: none;
            }
        }
        .vectores-de-anclaje-fixed {
            justify-self: center !important;
            .bg-panal-yellow {
                @media (max-width: 390px) {
                    width: 25px;
                    height: 25px;
                    font-size: $font-size-xxs;
                }
            }
        }
    }
}

body{
    counter-reset: section;
}

.bg-panal-number {
    &::after {
        counter-increment: section;
        content: counter(section);
    }
}

.bg-panal-purple-3 {
    &::after {
        content: "3";
    }
}

.bg-panal-purple-5 {
    &::after {
        content: "5";
    }
}

.bg-panal-purple-7 {
    &::after {
        content: "7";
    }
}

.auto-margin {
    margin: auto !important;
}

.text-panal-section {
    font-family: $font-family-primary;
    color: $text-secondary-color;
    font-size: $font-size-deco-section !important;
    font-weight: bold;
}

.bg-panal-yellow {
    background: url("../img/bg-panal.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: $text-secondary-color;
    font-size: $font-size-md;
    font-weight: 800;
    display: grid;
    justify-content: center;
    align-content: center;
    width: 50px;
    height: 50px;
    margin: 0 3px;
    order: 1;
    &:hover {
        background: url("../img/bg-purple-black.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transform: scale(1.1);
    }
    @media (max-width: 499px) {
        width: 40px;
        height: 40px;
        font-size: $font-size-xs;
    }
    @media (max-width: 379px) {
        width: 30px;
        height: 30px;
        font-size: $font-size-xs;
    }
    @media (min-width: 1200px) {
        width: 55px;
        height: 55px;
    }
}

.bg-panal-yellow-size {
    width: 70px !important;
    height: 70px !important;
    @media (max-width: 404px) {
        width: 50px !important;
        height: 50px !important;
    }
    &::after {
        @media (max-width: 404px) {
            font-size: $font-size-xs !important;
        }
    }
}

.bg-panal-yellow-1 {
    &::after {
        content: "1";
    }
}

.bg-panal-yellow-2 {
    &::after {
        content: "2";
    }
}

.bg-panal-yellow-3 {
    &::after {
        content: "3";
    }
}

.bg-panal-yellow-4 {
    &::after {
        content: "4";
    }
}

.bg-panal-yellow-5 {
    &::after {
        content: "5";
    }
}

.bg-panal-yellow-6 {
    &::after {
        content: "6";
    }
}

.bg-panal-yellow-7 {
    &::after {
        content: "7";
    }
}

.container-deco-mouse {
    display: grid;
    gap: 1em;
    justify-items: center;
    align-items: center;
    margin: 15px auto;
    .text-deco-mouse {
        font-family: $font-family-primary;
        font-style: bold;
        font-size: $font-size-xxs;
        text-align: center;
        letter-spacing: 10%;
    }
}

.container-deco-bee {
    top: 50%;
    right: -20%;
    position: relative;
    @media (max-width: 650px) {
        top: 86%;
        right: -23%;
    }
    @media (max-width: 582px) {
        top: 52%;
        right: -23%;
    }
    @media (max-width: 429px) {
        top: 9%;
        right: -33%;
    }
    @media (min-width: 1040px) {
        top: 84%;
        right: -23%;
    }
    @media (min-width: 1900px) {
        top: 88%;
        right: -26%;
    }
    &::before {
        content: url("../img/deco-lineas-bee.svg");
        position: absolute;
        top: 4%;
        left: -600%;
    }
}

.container-deco-bee-1 {
    position: absolute;
    right: 30%;
    bottom: -7%;
    transform: rotate(190deg);
    @media (max-width: 948px) {
        top: 23%;
        right: -26%;
    }
    @media (max-width: 762px) {
        right: 12%;
        bottom: -7%;
    }
}

.container-deco-bee-2 {
    position: absolute;
    right: 61%;
    top: 56%;
    transform: rotate(-31deg);
    @media (max-width: 1570px) {
        right: 65%;
        top: 53%;
    }
    @media (max-width: 1348px) {
        right: 65%;
        top: 48%;
    }
    @media (max-width: 1192px) {
        right: 62%;
        top: 48%;
    }
    @media (max-width: 1118px) {
        right: 58%;
        top: 49%;
    }
    @media (max-width: 1022px) {
        right: 52%;
        top: 51%;
    }
    @media (max-width: 896px) {
        right: 40%;
        top: 51%;
    }
    @media (max-width: 763px) {
        right: 25%;
        top: 54%;
    }
    @media (max-width: 555px) {
        right: 13%;
        top: 54%;
    }
    @media (max-width: 474px) {
        right: 4%;
        top: 54%;
    }
    @media (max-width: 407px) {
        right: 4%;
        top: 53%;
    }
    @media (max-width: 377px) {
        right: 4%;
        top: 52%;
    }
    @media (max-width: 362px) {
        right: 4%;
        top: 54%;
    }
    @media (max-width: 333px) {
        right: 4%;
        top: 56%;
    }
}

.container-deco-bee-3 {
    position: absolute;
    right: 30%;
    bottom: -5%;
    transform: rotate(190deg);
    @media (max-width: 1140px) {
        right: 30%;
        top: -3%;
    }
    @media (max-width: 836px) {
        right: 23%;
        top: -3%;
    }
    @media (max-width: 767px) {
        right: 11%;
        top: -3%;
    }
    @media (max-width: 560px) {
        right: 11%;
        top: -5%;
    }
    @media (max-width: 449px) {
        right: 40%;
        top: -5%;
    }
}

.container-deco-bee-4 {
    position: absolute;
    right: 30%;
    bottom: -7%;
    transform: rotate(190deg);
}

.container-deco-bee-5 {
    position: absolute;
    right: 84%;
    bottom: -5%;
    transform: rotate(190deg);
    @media (max-width: 989px) {
        right: 84%;
        bottom: -15%;
    }
    @media (max-width: 525px) {
        right: 69%;
        bottom: -12%;
    }
}

.container-main-deco-hexagono {
    z-index: 1;
    position: absolute;
    top: 7%;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    z-index: 2;
    @media (min-width: 1290px) {
        top: 8%;
    }
    @media (min-width: 1301px) {
        top: 7%;
    }
    @media (min-width: 1800px) {
        top: 8%;
    }
    @media (min-width: 1900px) {
        top: 7%;
    }
    .container-deco-hexagono-left {
        justify-self: start;
        object-fit: contain;
    }
    .container-deco-hexagono {
        object-fit: contain;
    }
    .container-deco-hexagono-right {
        justify-self: end;
        object-fit: contain;
    }
}

.container-main-section {
    display: grid;
    gap: 6em;
    .container-title-content {
        display: grid;
        gap: 2em;
        margin-left: 7em;
        .container-section-title {
            display: grid;
            grid-auto-flow: column;
            justify-items: center;
            align-items: center;
            grid-auto-columns: 90px 522px;
            position: relative;
            justify-self: right;
            width: 612px;
            .figure-panal-section {
                width: 70px;
                height: 70px;
            }
            .secondary-title {
                justify-self: start;
                @media (max-width: 944px) {}
            }
        }
        .container-content-section {
            display: grid;
            grid-template-columns: 60% 40%;
            padding: 10px;
            justify-self: start;
            max-width: 1000px;
            gap: 4em;
            .btn-secondary {
                margin: 35px 0 0 5px;
                justify-self: start;
            }
            .container-btn-description {
                .btn-secondary {
                    margin: 35px 0 0 5px;
                    justify-self: start;
                }
            }
        }
    }
}

.deco-panal-line {
    position: absolute;
    left: 2%;
    top: 8%;
    @media (max-width: 768px) {
        top: 7%;
    }
    &::before {
        content: "";
        width: 30px;
        position: absolute;
        border: 2px solid $color-secondary;
        left: -100%;
        top: 50%;
    }
}



.container-section-title-odd-sm {
    grid-auto-columns: 90px 607px !important;
    @media (max-width: 768px) {
        grid-auto-columns: 90px 308px !important;
    }
    &::after {
        right: -17% !important;
        @media (max-width: 944px) {
            right: 4% !important;
        }
        @media (max-width: 768px) {
            right: -22% !important;
        }
        @media (max-width: 685px) {
            right: 3% !important;
            top: -147% !important;
        }
        @media (max-width: 596px) {
            right: 2% !important;
            top: -150% !important;
        }
        @media (max-width: 571px) {
            top: -161% !important;
        }
        @media (max-width: 429px) {
            top: -87% !important;
        }
    }
}

.section-title-odd-lg {
    grid-auto-columns: 90px 636px !important;
    margin-right: 0 !important;
    &::after {
        right: -18% !important;
        @media (max-width: 944px) {
            right: -14% !important;
        }
        @media (max-width: 908px) {
            right: 5% !important;
        }
        @media (max-width: 768px) {
            right: -26% !important;
        }
        @media (max-width: 733px) {
            right: -1% !important;
            top: -139% !important;
        }
        @media (max-width: 638px) {
            right: -1% !important;
            top: -139% !important;
        }
        @media (max-width: 594px) {
            right: -1% !important;
            top: -154% !important;
        }
        @media (max-width: 536px) {
            right: -1% !important;
            top: -160% !important;
        }
        @media (max-width: 468px) {
            right: -1% !important;
            top: -165% !important;
        }
        @media (max-width: 429px) {
            top: -88% !important;
            left: 62% !important;
        }
    }
    &::before {
        left: -14% !important;
    }
}

.container-section-title-even {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    grid-auto-columns: 542px 90px;
    position: relative;
    justify-self: right;
    margin-right: 6em;
    @media (max-width: 768px) {
        grid-auto-columns: 359px 90px;
        margin-right: 0;
    }
    @media (max-width: 568px) {
        margin-right: 0;
        grid-auto-columns: 90% 10%;
        gap: 2em;
    }
    @media (max-width: 649px) {
        margin-right: 0 !important;
    }
    @media (max-width: 429px) {
        grid-auto-columns: 1fr;
        grid-auto-flow: row;
        justify-self: center;
    }
    .secondary-title {
        justify-self: right;
        @media (max-width: 1200px) {
            font-size: $font-size-title-xs;
        }
        @media (max-width: 1024px) {
            font-size: $font-size-title-xxs;
        }
        @media (max-width: 944px) {
            font-size: $font-size-title-xxs;
        }
        @media (max-width: 768px) {
            font-size: $font-size-xx;
            text-align: center;
        }
        @media (max-width: 429px) {
            order: 1;
        }
    }
    &::after {
        content: url("../img/vector-linea-panal.svg");
        transform: rotate(180deg);
        position: absolute;
        right: -21%;
        @media (max-width: 768px) {
            top: 25% !important;
            right: -17% !important;
        }
        @media (max-width: 568px) {
            display: none;
        }
    }
    &::before {
        content: url("../img/deco-litle-bee-even.svg");
        position: absolute;
        top: -68%;
        left: -21%;
        z-index: 2;
        @media (max-width: 1200px) {
            top: -68% !important;
            left: -15% !important;
        }
        @media (max-width: 1024px) {
            left: 1%!important;
        }
        @media (max-width: 944px) {
            top: -68% !important;
            left: 0 !important;
        }
        @media (max-width: 768px) {
            top: -72% !important;
            left: -29% !important;
        }
        @media (max-width: 716px) {
            top: -116% !important;
            left: -27% !important;
        }
        @media (max-width: 708px) {
            top: -139% !important;
            left: -4% !important;
        }
        @media (max-width: 582px) {
            top: -139% !important;
            top: -139% !important;
            left: -3% !important;
        }
        @media (max-width: 542px) {
            top: -143% !important;
            left: -3% !important;
        }
        @media (max-width: 536px) {
            top: -147% !important;
            left: -3% !important;
        }
        @media (max-width: 530px) {
            top: -168% !important;
            left: -3% !important;
        }
        @media (max-width: 429px) {
            top: -104% !important;
            left: 0 !important;
        }
    }
}

.section-title-even-sm {
    grid-auto-columns: 390px 90px !important;
    margin-right: 6em !important;
    &::before {
        left: -28% !important;
        @media (max-width: 1024px) {
            top: -68% !important;
            left: -8% !important;
        }
        @media (max-width: 948px) {
            top: -68% !important;
            left: -28% !important;
        }
        @media (max-width: 768px) {
            top: -68% !important;
            left: -36% !important;
        }
        @media (max-width: 649px) {
            margin-right: 0 !important;
        }
        @media (max-width: 590px) {
            top: -158% !important;
            left: -5% !important;
        }
        @media (max-width: 568px) {
            top: -155% !important;
            left: -1% !important;
        }
        @media (max-width: 429px) {
            top: -74% !important;
            left: -28% !important;
        }
        @media (max-width: 430px) {
            top: -63% !important;
            left: -11% !important;
        }
        @media (max-width: 333px) {
            top: -107% !important;
            left: -12% !important;
        }
    }
    @media (max-width: 768px) {
        grid-auto-columns: 243px 90px !important;
    }
    @media (max-width: 568px) {
        grid-auto-columns: 90% 10% !important;
        gap: 2em;
    }
    @media (max-width: 429px) {
        grid-template-columns: 1fr !important;
        margin-right: 0 !important;
    }
    &::after {
        right: -27% !important;
        @media (max-width: 768px) {
            right: -41% !important;
            bottom: 38%;
        }
        @media (max-width: 509px) {
            right: -41% !important;
            bottom: 38%;
            display: none;
        }
    }
}



.section-title-even-md {
    grid-auto-columns: 754px 90px !important;
    @media (max-width: 944px) {
        grid-auto-columns: 443px 90px !important;
    }
    @media (max-width: 914px) {
        grid-auto-columns: 441px 90px !important;
    }
    @media (max-width: 758px) {
        grid-auto-columns: 339px 90px !important;
    }
    @media (max-width: 768px) {
        grid-auto-columns: 498px 90px !important;
    }
    @media (max-width: 702px) {
        grid-auto-columns: 90% 10% !important;
    }
    @media (max-width: 429px) {
        grid-auto-columns: 1fr !important;
    }
    &::before {
        left: -14% !important;
        @media (max-width: 1200px) {
            top: -68% !important;
            left: -7% !important;
        }
        @media (max-width: 1024px) {
            left: 8% !important;
        }
        @media (max-width: 944px) {
            top: -68% !important;
            left: -26% !important;
        }
        @media (max-width: 914px) {
            top: -68% !important;
            left: -26% !important;
        }
        @media (max-width: 797px) {
            top: -77% !important;
            left: -26% !important;
        }
        @media (max-width: 768px) {
            top: -138% !important;
            left: -8% !important;
        }
        @media (max-width: 758px) {
            top: -140% !important;
            left: -3% !important;
        }
        @media (max-width: 702px) {
            top: -162% !important;
            left: 1% !important;
        }
        @media (max-width: 649px) {
            top: -168% !important;
            left: -3% !important;
        }
        @media (max-width: 641px) {
            top: -159% !important;
            left: -19% !important;
        }
        @media (max-width: 536px) {
            top: -167% !important;
            left: -4% !important;
        }
        @media (max-width: 429px) {
            right: -9% !important;
            top: -79% !important;
        }
        @media (max-width: 429px) {
            left: 5% !important;
            top: -95% !important;
        }
    }
    &::after {
        right: -12% !important;
        @media (max-width: 702px) {
            display: none;
        }
    }
}



.container-cap1-img1 {
    background: url(../img/carousel/capitulo-1/img-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    border-radius: 18px;
}


.video-even {
    order: 1;
}

.video-section-even {
    margin: 0 auto;
}

.container-video-section {
    position: relative;
    z-index: 10;
    width: 50%;
}

.container-content-section--is-reverse {
    flex-direction: row-reverse;
}

.container-title-content {
    display: grid;
    gap: 2em;
    margin: 0 7em;
    @media (max-width: 429px) {
        margin: 10px;
    }
    .container-section-title {
        display: grid;
        grid-auto-flow: column;
        justify-items: center;
        align-items: center;
        grid-auto-columns: 90px 522px;
        position: relative;
        justify-self: left;
        &::before {
            content: url("../img/vector-linea-panal.svg");
            left: -12%;
            position: absolute;
            @media (max-width: 768px) {
                left: -19%;
            }
            @media (max-width: 629px) {
                display: none;
            }
        }
        @media (max-width: 768px) {
            grid-auto-columns: 10% 90% !important;
            gap: 3em;
        }
        @media (max-width: 467px) {
            justify-self: center !important;
        }
        @media (max-width: 429px) {
            grid-auto-columns: 1fr !important;
            grid-auto-flow: row;
            justify-self: center;
        }
        &::after {
            content: url("../img/deco-title-bee.svg");
            position: absolute;
            top: -90%;
            right: -10%;
            z-index: 10;
            @media (max-width: 944px) {
                right: 8% !important;
            }
            @media (max-width: 768px) {
                right: -29% !important;
                grid-auto-columns: 90px 418px;
            }
            @media (max-width: 582px) {
                right: -5% !important;
                top: -136% !important;
            }
            @media (max-width: 582px) {
                right: -5% !important;
                top: -136% !important;
            }
            @media (max-width: 542px) {
                right: 2% !important;
                top: -147% !important;
            }
            @media (max-width: 468px) {
                right: 2% !important;
                top: -156% !important;
            }
            @media (max-width: 467px) {
                right: 2% !important;
                top: -172% !important;
            }
            @media (max-width: 429px) {
                right: -9% !important;
                top: -134% !important;
            }
            @media (max-width: 333px) {
                right: -1% !important;
                top: -123% !important;
            }
        }
        .figure-panal-section {
            width: 70px;
            height: 70px;
            @media (max-width: 404px) {
                width: 50px !important;
                height: 50px !important;
                font-size: $font-size-xs !important;
            }
        }
        .secondary-title {
            justify-self: start;
            @media (max-width: 944px) {
                font-size: $font-size-title-xxs;
            }
            @media (max-width: 768px) {
                font-size: $font-size-xx;
            }
            @media (max-width: 768px) {
                font-size: $font-size-xx;
            }
            @media (max-width: 429px) {
                text-align: center;
            }
            &::before {
                @media (max-width: 944px) {
                    right: 9%;
                }
            }
        }
    }
    .container-content-section {
        display: flex;
        padding: 10px;
        width: 100%;
        
        .btn-secondary {
            margin: 35px 0 0 5px;
            justify-self: start;
        }
        .container-description-btn {
            position: relative;
            padding: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            .description {
                font-family: $font-family-primary;
                font-size: 25px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
                letter-spacing: 0;
                text-align: justify;
                display: inline-block;
                @media (max-width: 768px) {
                    text-align: center;
                }
                @media (max-width: 429px) {
                    order: 1;
                }
            }
            .btn-secondary {
                margin: 35px 0 0 5px;
                justify-self: start;
            }
        }
    }
}

.container-contact {
    width: 100%;
    display: grid;
    margin-top: 10em;
    .container-contact-content {
        display: grid;
        justify-self: center;
        justify-items: center;
        align-items: center;
        gap: 1em;
        .secondary-title {
            text-align: center;
            @media (max-width: 708px) {
                font-size: $font-size-title-xxs;
            }
        }
        .description-secondary {
            font-family: $font-family-primary;
            font-size: $font-size-md;
            font-style: normal;
            font-weight: 300;
            line-height: 23px;
            letter-spacing: 0;
            text-align: center;
            color: $text-tertiary-color;
        }
    }
}

.contact-form {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    .contact-textarea {
        height: 100px;
        width: 100%;
        resize: none;
        border-radius: 20px;
        font-size: 18px;
        padding: 15px;
        color: #582D4E;
        border: 1px solid #FFB547;
    }
    .contact-input {
        height: 56px;
        width: 418px;
        border-radius: 20px;
        font-size: $font-size-md;
        padding: 15px;
        color: $text-primary-color;
        border: 1px solid $color-tertiary;
        @media (max-width: 568px) {
            width: 354px;
        }
        @media (max-width: 402px) {
            width: 246px;
        }
        @media (min-width: 1200px) {
            font-size: $font-size-xx;
        }
        @media (min-width: 768px) {
            font-size: $font-size-xs;
        }
    }
    .contact-btn {
        height: 56px;
        width: 122px;
        border-radius: 20px;
        background: $color-tertiary;
        border: none;
        color: $text-secondary-color;
        font-family: $font-family-primary;
        font-size: $font-btn-form-md;
        font-style: normal;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: 0;
        text-align: center;
        position: absolute;
        right: -5%;
        &:hover {
            background: $color-quinary;
        }
    }
}

.container-social-media {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    width: 200px;
    padding-bottom: 0.5em;
    .bg-social-icon {
        background: url("../img/bg-social-media.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: grid;
        justify-items: center;
        align-items: center;
        width: 33,6px;
        height: 28px;
    }
}

.arrow-up {
    width: 25px;
    display: none;
}

.arrow-down {
    width: 25px;
    display: block;
    transform: rotate(180deg);
}

.close:checked ~ .owl-carousel {
    display: none;
}

.close:checked ~ label {
    .close-btn {
        .arrow-up {
            display: block;
        }

    }
}

.close:checked ~ label {
    .arrow-down {
        display: none;
    }
}

.bee {
    z-index: 1;
}

.d-none {
    display: none;
}

.ancla {
    position: relative;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    &:nth-child(odd){
        background: #a384ff0d;
    }
    &:nth-child(even){
        background: #fff;
    }
}

.space {
    margin-bottom: 5em;
}

.space-md {
    margin-bottom: 3em;
    margin-top: 6em;
    @media (max-width: 944px) {
        margin-bottom: 7em;
    }
    @media (max-width: 590px) {
        margin-bottom: 11em;
    }
    @media (max-width: 582px) {
        margin-bottom: 12em;
    }
}

.img-section-even {
    order: 1;
    width: 100%;
    z-index: 3;
    @media (max-width: 768px) {
        order: 0;
    }
}



.icon-circle {
    height: 66px;
    width: 66px;
    border-radius: 50%;
    background: $bg-secondary-color;
    margin-left: 10px
}


.icon-play {
    position: relative;
    &::after {
        content: url(../img/icons/play.svg);
        position: absolute;
        left: 55%;
        top: 55%;
        transform: translate(-50%, -50%);
    }
}


.icon-pause {
    position: relative;
    &::after {
        content: url(../img/icons/pausa.svg);
        position: absolute;
        left: 52%;
        top: 55%;
        transform: translate(-50%, -50%);
    }
}


.copyright {
    text-align: center;
    padding: 60px 0;
    font-size: var(--font-size-xxs);
    font-weight: 600;
    line-height: 24px;
    margin-top: 5em;
}

.mr-lg {
    margin-right: 3em !important;
    @media (max-width: 914px) {
        margin-right: 0 !important;
    }
}

.bold {
    font-weight: bold;
}

.max-layout {
    max-width: $max-layout;
    margin: 0 auto;
    z-index: 2;
    position: relative;
}
