

$max-layout: 1700px;


$font-family-primary: 'Mont';
$font-family-secondary: 'Caveat';

$color-primary: #582D4E;
$color-secondary: #FFD700;
$color-tertiary: #FFB547;
$color-quaternary: #362231;
$color-quinary: #EE9D25;
$color-sextuary: #fbf6ff;


$text-primary-color: #582D4E;
$text-secondary-color: #fff;
$text-tertiary-color: #4B4B4B;


$bg-primary-color: #582D4E;
$bg-secondary-color: #FFD700;
$bg-secondary-color: #FFD600;
$bg-tertiary-color: #FFDD00;
$bg-quaternary-color: #FEF8E7;
$bg-sextuary-color: #fbf6ff;



$font-size-title-xx: 51px;
$font-size-title-md: 42px;
$font-size-title-xs: 32px;
$font-size-title-xxs: 26px;

$font-size-p-lg: 28px;
$font-size-p-md: 14px;
                  
$font-size-xxl: 55px;
$font-size-xx: 23px;
$font-size-md: 18px;
$font-size-xs: 16px;
$font-size-xxs: 12px;


$font-btn-form-md: 21px;

$font-size-deco-section: 34px;

$border-radius : 30px;