
.btn_primary {
    color: $text-primary-color;
    width: 278px;
    height: 49px;
    line-height: 49px;
    background: $bg-secondary-color;
    border-radius: $border-radius;
    box-shadow: 0 14px 24px 0 $bg-primary-color 9%;
    font-family: $font-family-primary;
    font-weight: 800;
    font-size: $font-size-md;
    text-align: Center;
    letter-spacing: 23%;
    display: inline-block;
    text-transform: uppercase;
    transition: all 150ms ease;
    z-index: 10;
    &::before {
        content: "¡ESTOY LISTO PARA EMPEZAR!";
    }
    &:hover {
        background: $bg-primary-color;
        color: $text-secondary-color;
        transform: scale(1.1);
    }
}

.btn-secondary {
    
    background: $bg-primary-color;
    font-family: $font-family-primary;
    color: $text-secondary-color;
    border-radius: $border-radius;
    display: inline-block;
    text-transform: uppercase;
    font-size: $font-size-md;
    font-style: normal;
    font-weight: 800;
    line-height: 39px;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    transition: all 0.3s ease;
    padding: 20px 40px;

    &::before {
        content: "¡MIRA LA HISTORIA!";
    }
    &::after {
        content: url("../img/icons/arrow-down.svg");
        position: absolute;
        right: 5%;
    }
    &:hover {
        background: $color-quaternary;
        color: $text-secondary-color;
        transform: scale(1.1);
    }
}

.close-btn {
    height: 39px;
    width: 40px;
    border-radius: $border-radius;
    background: $bg-primary-color;
    position: relative;
    display: grid;
    justify-content: center;
    align-content: center;
    left: 40px;
    margin-bottom: 1em;
    transition: all 0.3s ease;
    z-index: 3;
    margin-top: 6em;
    &:hover {
        background: $color-quaternary;
    }
}



.vid_btn {
    white-space: nowrap;
    border-radius: $border-radius;
    font-family: $font-family-primary;
    font-size: $font-size-md;
    font-style: normal;
    font-weight: 700;
    color: $text-secondary-color;
    letter-spacing: 0;
    text-align: center;
    background: #582D4E80;
    border-style: none;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    padding: 5px 30px;
    position: absolute;
    top: 72%;
    left: calc(22% - 25px);
    transition: all .3s ease;
    &:hover {
        background: $color-quaternary;
        color: $text-secondary-color;
        transform: scale(1.1);
    }
    &::before {
        content: 'Dale play';
    }
    &.pausa::before {
        content: 'Dale pausa';
    }
    @media(max-width: 1500px) {
        left: calc(23% - 25px);
    }
    @media(max-width: 1300px) {
        left: calc(22% - 25px);
    }
    @media(max-width: 1300px) {
        left: calc(20% - 25px);
    }
    @media(max-width: 1150px) {
        left: calc(19% - 25px);
    }
}



.second {
    display: none;
}

.buttons {
    margin-top: 5px;
    width: 320px;
    text-align: center;
}



/*
 * Button
 * @author mfyance
 */

.button{
    cursor: pointer;
    position: relative;
    width: inherit;
    margin: initial;
    border: none;
    transition: all 0.5s ease;
    background-size: 200% auto;
    text-transform:uppercase;
    letter-spacing: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    transition: all 0.2s ease;
    top: 0;
    padding: inherit;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}







.button--is-primary {
    -webkit-transition: color .4s, padding-left .55s, padding-right .55s;
    -o-transition: color .4s, padding-left .55s, padding-right .55s;
    transition: color .4s, padding-left .55s, padding-right .55s;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 40px;
    position: relative;
    z-index: 1;
    font-size: 14px;
    font-size: 1.4rem;
    color: #fff;
    background: linear-gradient(
90deg
, #fed100 0%, #fedd04 100%);
}

.button--is-primary:not([disabled]):hover:after {
    -webkit-transition: all .7s cubic-bezier(.52, 0, .08, 1) 50ms;
    -o-transition: all .7s cubic-bezier(.52, 0, .08, 1) 50ms;
    transition: all .7s cubic-bezier(.52, 0, .08, 1) 50ms;
    width: 24px;
    background-color: rgba(73, 190, 65, .5)
}

.button--is-primary:not([disabled]):after,
.button--is-primary:not([disabled]):before {
    -webkit-transition: all .25s cubic-bezier(.52, 0, .08, 1) 50ms;
    -o-transition: all .25s cubic-bezier(.52, 0, .08, 1) 50ms;
    transition: all .25s cubic-bezier(.52, 0, .08, 1) 50ms;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    width: calc(100% - 24px);
    height: 100%;
    background: linear-gradient(90deg, #ff9201 0%, #fed100 100%);
}

.button--is-primary:not([disabled]):after {
    -webkit-transition: all .15s cubic-bezier(.82, 0, .28, 1) 0s;
    -o-transition: all .15s cubic-bezier(.82, 0, .28, 1) 0s;
    transition: all .15s cubic-bezier(.82, 0, .28, 1) 0s;
    z-index: -1;
    width: calc(100% - 12px);
    opacity: 0.8;
}

.button--is-primary:not([disabled]):hover {
    color: #fff;
    padding-left: 40px !important;
    padding-right: 60px !important;
}

.button--is-primary:not([disabled]):hover:before {
    -webkit-transition: all .4s cubic-bezier(.82, 0, .28, 1) 0s;
    -o-transition: all .4s cubic-bezier(.82, 0, .28, 1) 0s;
    transition: all .4s cubic-bezier(.82, 0, .28, 1) 0s;
    width: 12px;
    background-color: var(--template-color-2)
}

.button--is-primary:not([disabled]):hover:after {
    -webkit-transition: all .7s cubic-bezier(.52, 0, .08, 1) 50ms;
    -o-transition: all .7s cubic-bezier(.52, 0, .08, 1) 50ms;
    transition: all .7s cubic-bezier(.52, 0, .08, 1) 50ms;
    width: 24px;
    background-color: var(--template-color-2)
}

.button--is-primary:not([disabled]):active {
    background-color: #b10000;
}

.button--is-primary i {
    margin-right: 10px;
    vertical-align: -5px !important;
    font-size: 20px !important;
    margin-bottom: -7px;
    margin-top: -7px;
}
















.button-secondary {
  display: -webkit-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
}
.button-secondary svg {
  height: 55px;
  width: 150px;
  fill: none;
  stroke-width: 5;
}
.button-secondary svg :hover {
  background: #000;
}
.button-secondary svg .o1 {
  stroke: rgb(255, 147, 0);
  fill: #ff93002b;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.button-secondary svg .o2 {
  stroke: white;
  stroke-dasharray: 20 420;
  stroke-dashoffset: 20;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.button-secondary span {
  position: absolute;
  margin: auto 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.button-secondary:hover .o1 {
  fill: rgba(255, 216, 0, 0.17);
  stroke: #ffd000;
}
.button-secondary:hover .o2 {
  stroke-dashoffset: -420;
}











.button-primary:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}
.button-primary {
    position: relative;
    z-index: 2;
    color: black;
    background: none;
    padding: 20px 10px;
    letter-spacing: 0px;
}
.button-primary:hover {
    background: none;
}
.button-primary:hover + .button-primary-effect .circle {
    background: #ff7702;
}
.button-primary:hover + .button-primary-effect .button {
    background: #ff7702;
}
.button-primary:active + .button-primary-effect {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}
.button-primary-container {
    position: relative;
    display: inline-block;

}
.button-primary-container .effect-button {
    position: absolute;
    width: 50%;
    height: 25%;
    top: 50%;
    left: 25%;
    z-index: 1;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: linear-gradient(205deg, rgb(255, 216, 0) 25%, rgb(255, 147, 0) 100%);
    -webkit-transition: background 0.1s ease-out;
    transition: background 0.1s ease-out;
}

.button-primary-effect {
    position: absolute;
    display: block;
    width: 200%;
    height: 400%;
    top: -150%;
    left: -50%;
    -webkit-filter: url("#goo");
    filter: url("#goo");
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    pointer-events: none;
}
.button-primary-effect .circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background: #ffd600;
    -webkit-transition: background 0.1s ease-out;
    transition: background 0.1s ease-out;
}
.button-primary-effect .circle.top-left {
    top: 40%;
    left: 27%;
}
.button-primary-effect .circle.bottom-right {
    bottom: 40%;
    right: 27%;
}

.button-primary-svg {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
}


.button-primary-container {
    top: 50%;
    margin-top: -25px;
}

