
.owl-carousel {
    z-index: 3 !important;
}
.content-item-img{
    height: 450px;
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
}

.content-item-desc{
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0;
    text-align: justify;
    padding: 50px;
    z-index: 2;
    min-height: 100px;
    position: relative;
}
.content-item {
    height: auto;
    width: 91%;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid $color-primary;
    background: #fffcf4;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    .img-carousel {
        width: 100% !important;
        border-radius: 18px;
        @media (max-width: 942px) {
            width: 100% !important;
        }
    }
    .items-descrition {
        height: 100px;
        font-family: $font-family-primary;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 27px;
        letter-spacing: 0;
        text-align: justify;
        padding: 0 30px;
        z-index: 2;
        @media (max-width: 1400px) {
            font-size: $font-size-p-md;
        }
        @media (min-width: 1547px) {
            font-size: $font-size-p-lg;
        }
    }
}



.owl-prev {
    height: 86px;
    width: 51px !important;
    background: url("../img/bg-nav-right.svg") !important;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute !important;
    left: 0 !important;
    bottom: 46% !important;
    &::after {
        content: url("../img/icons/arrow-nav.svg") !important;
        position: absolute !important;
        left: 20px !important;
        top: 29% !important;
    }
    span {
        display: none !important;
    }
    &:hover {
        opacity: 1 !important;
        visibility: visible !important;
        transform: scale(1.1) !important;
    }
    &.disabled{
        filter: grayscale(1);
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.owl-next {
    height: 86px;
    width: 51px !important;
    background: url("../img/bg-nav.svg") !important;
    position: absolute !important;
    right: 0 !important;
    bottom: 46% !important;
    background-repeat: no-repeat;
    background-size: contain;
    &::after {
        content: url("../img/icons/arrow-nav.svg") !important;
        position: absolute !important;
        transform: rotate(180deg);
        right: 20px!important;
        top: 29% !important;
    }
    span {
        display: none !important;
    }
    &:hover {
        opacity: 1;
        visibility: visible;
        transform: scale(1.1);
    }
    &.disabled{
        filter: grayscale(1);
        opacity: 0.5;
        cursor: not-allowed;
    }
}


.owl-dots {
    width: 192px !important;
    margin: 0 auto !important;
    display: grid !important;
    justify-items: center !important;
    grid-auto-flow: column !important;
    margin-top: 3em !important;
    @media (max-width: 767px) {
        width: 305px !important;
    }
    @media (max-width: 400px) {
        height: 29px !important;
        width: 289px !important;
    }
    .owl-dot {
        height: 39px !important;
        width: 40px !important;
        left: 678px !important;
        top: 6422px !important;
        border-radius: 34px !important;
        border: 5px solid $bg-tertiary-color !important;
        margin-left: 10px;
        @media (max-width: 767px) {
            height: 29px !important;
            width: 30px !important;
        }
    }
    .owl-dot.active {
        background: $bg-tertiary-color !important;
    }
}

.owl-item {
    height: auto !important;
}

.content-item-number {
    background: url("../img/panal-carousel.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 84.4px;
    height: 70.33px;
    justify-self: left;
    display: grid;
    justify-items: center;
    align-items: center;
    color: #582D4E;
    font-size: 34px;
    font-family: "Mont";
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    
}

.video-section{
    position: relative;
    width: 100%;
}
.video-section-path{
    width: 100%;
    background-blend-mode: soft-light, normal;
    box-shadow: -8.90123px -8.90123px 26.7037px rgb(255 255 255 / 50%), 13.3518px 13.3518px 26.7037px rgb(174 174 192 / 40%);
}

.video-buttons.active .first{
    display: none;
}
.video-buttons.active .second{
    display: flex;
}
.video-buttons .first{
    display: flex;
}
.video-buttons .second{
    display: none;
}
.video-buttons{
    position: absolute;
    position: absolute;
    bottom: 100px;
    left: calc(50% - 120px);
}

.content-escenas{
    position: absolute;
    left: 56px;
    top: 6px;
    font-size: 21px;
    white-space: pre;
}