<div class="beez-hexagon">
    <div class="beez-hexagon-start">
        <img src="_private/img/semi-hexagono-left.svg">
    </div>
    <div class="beez-hexagon-medium">
        <img src="_private/img/hexagono.svg">
    </div>
    <div class="beez-hexagon-end">
        <img src="_private/img/semi-hexagono-right.svg">
    </div>
</div>


<div class="beez-fly">
    <img src="_private/img/deco-bee.svg" alt="">
</div>