/*
 * Snippets
 * @author mfyance
 */

.cleaner:after {  clear: both; }
.cleaner:before,
.cleaner:after {
    display: table;
    line-height: 0;
    content: "";
}
.cleaner {
    box-sizing: border-box;
    *zoom: 1;
}
.hidden{ display: none; }
.t-a-c{text-align: center;}

.link:hover{
    border-bottom: 1px solid var(--color-primary)
}
.link{
    color: var(--color-secondary);
    cursor:pointer;
    font: var(--font-size-lg) var(--font-primary);
}

.h-100{ height: 100%; }

.m-l-10{ margin-left: 10px !important; }
.m-l-20{ margin-left: 20px !important; }
.m-l-30{ margin-left: 30px !important; }
.m-l-40{ margin-left: 40px !important; }

.m-b-20{ margin-bottom: 20px !important; }
.m-b-30{ margin-bottom: 30px !important; }
.m-t-20{ margin-top: 20px !important; }
.m-t-30{ margin-top: 30px !important; }
.m-t-40{ margin-top: 40px !important; }
.m-t-60{ margin-top: 60px !important; }
.m-r-10{ margin-right: 10px !important; }

